:root {
    --bg-color:#F1F2FC;
    --font-color: #1F384C;
    --bg-blue: #707FDD;
    --white: #ffffff;
    --dark-grey: #C4C7DB;
    --link-hover: #f0f0f0;
    --ms-yellow: #EAD30C;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}
.main-body {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 15px 15px 0 15px;
}
.header {
    background-color: var(--bg-blue);
    margin-left: -20px;
    display: flex;
}
.header a {
    text-decoration: none;
    display: flex;
}
.header div {
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.header div a {
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
.widget {
    font-family: "Inter",sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: span 6;
    grid-row: span 3;
}
.widget-pop-up {
    grid-column: span 3;
    background-color: var(--dark-grey);
}
.header h1{
    margin: 30px 25% 30px 30px;
    font-weight: 500;
    font-size: 22px;
    color: var(--white);
    line-height: 2;
}
.header span {
    font-weight: 300;
}
.widget h2 {
    margin: 10px 0 10px 10px;
    color: var(--font-color);
}
.widget h3 {
    font-weight: 500;
    margin: 10px 0 0 10px;
    color: var(--font-color);
}
.widget span {
    font-weight: 300;
    color: var(--font-color);
    margin: 0 0 0 10px;
    font-size: 14px;
}
.header img {
    width: 100px;
    object-fit: contain;
    padding: 20px;
    margin-left: 20px;
}
.import-section {
    padding: 10px;
}
.import-section a {
    color: var(--white);
    font-weight: 300;
}
.upload_form button {
    background-color: var(--bg-blue);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.upload_form form {
    margin: 10px;
}
/* Login Page CSS*/

.login-div {
    background-color: var(--bg-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.login-div img {
    filter: brightness(0) invert(1);
    width: 140px;
    object-fit: cover;
    margin: 10px 0;
}
.login-div p {
    color: var(--white);
}
.login-div h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--white);
    text-align: center;
}
.login-div label {
    color: var(--white);
}
.login-div form {
    display: flex;
    flex-direction: column;
}
.login-div label {
    margin: 10px 0 5px;
}
.login-div input[type="text"],
.login-div input[type="password"],
.login-div input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    color: var(--font-color);
}

.login-div input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: var(--bg-blue);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-div input[type="submit"]:hover {
    background-color: var(--link-hover);
}
.login-div p {
    margin: 20px 0 10px;
}
.login-div a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.login-div a:hover {
    color: var(--link-hover);
}
/*Error Messages Login*/
.messages {
    margin: 20px 0 20px 41%;
    list-style: none;
}
.messages li {
    background-color: var(--ms-yellow);
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
}