/* HTML Elements CSS*/
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #222;
    background-color: #F1F2FC;
}
.main-body {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
}
.header {
    grid-column: col-start / span 12;
    grid-row: 1;
    background-color: #707FDD;
    margin-left: -20px;
    display: flex;
}
.header-settings {
    grid-column: col-start 12 / span 1;
    grid-row: 1;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.header-upload {
    grid-column: col-start 10 / span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    color: #fff;
}
.header-upload a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header-documentation {
    grid-column: col-start 8 / span 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    color: #fff;
}
.widget {
    margin: 0 0 5px 0;
    font-family: "Inter",sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: span 6;
    grid-row: span 3;
}

/* Remaining CSS */


.header h1{
    margin: 30px;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    line-height: 2;
}
.header span {
    font-weight: 300;
}
.header-settings a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header-documentation a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header-settings-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    margin-right: 10px;
}
.widget h3 {
    font-weight: 300;
    margin: 20px 0 5px 20px;
}
.widget span {
    font-weight: 300;
    color: #848484;
    margin: 0 0 0 20px;
}


/* Sidebar */
.header img {
    width: 100px;
    object-fit: contain;
    padding: 20px;
    margin-left: 20px;
}
.import-section {
    padding: 10px;
}
.import-section a {
    color: #fff;
    font-weight: 300;
}
.upload_form {
    grid-column: 5 / span 5;
    grid-row: 2 / span 8;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.upload_form h1 {
    margin-bottom: 50px;
}
.upload_form button {
    background-color: #707FDD;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Login Page CSS*/

.login-div {
    background-color: #8593ED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.login-div img {
    filter: brightness(0) invert(1);
    width: 140px;
    object-fit: cover;
    margin: 10px 0;
}
.login-div p {
    color: #fff;
}

.login-div h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.login-div label {
    color: #fff;
}

.login-div form {
    display: flex;
    flex-direction: column;
}

.login-div label {
    margin: 10px 0 5px;
}

.login-div input[type="text"],
.login-div input[type="password"],
.login-div input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
}

.login-div input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #8593ED;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-div input[type="submit"]:hover {
    background-color: #f0f0f0;
}

.login-div p {
    margin: 20px 0 10px;
}

.login-div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-div a:hover {
    color: #f0f0f0;
}
/*Error Messages Login*/
.messages {
    margin: 20px 0 20px 41%;
    list-style: none;
}
.messages li {
    background-color: #EAD30C;
    width: fit-content;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
}