/* HTML Elements CSS*/
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #222;
    background-color: #F1F2FC;
}
.main-body {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    grid-gap: 10px;
    height: 100vh; /* This will make sure the grid takes up the whole height of the viewport */
}
.header {
    grid-column: col-start / span 12;
    grid-row: row-start;
    background-color: #707FDD;
    margin-left: -20px;
    display: flex;
}
.header-settings {
    grid-column: col-start 12 / span 1;
    grid-row: row-start;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.header-upload {
    grid-column: col-start 10 / span 2;
    grid-row: row-start;
    display: flex;
    align-items: center;
    color: #fff;
}
.header-upload a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header-documentation {
    grid-column: col-start 8 / span 1;
    grid-row: row-start;
    display: flex;
    align-items: center;
    color: #fff;
}

.widget-tl {
    grid-column: col-start / span 6;
    grid-row: 2 / 8;
    background-color: #fff;
    border-radius: 10px;
}
.widget-tr {
    grid-column: col-start 7 / span 6;
    grid-row: 2 / 8;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}
.widget-bl {
    grid-column: col-start / span 6;
    grid-row: 8 / 13;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.widget-br {
    grid-column: col-start 7 / span 6;
    grid-row: 8 / 13;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Remaining CSS */


.header h1{
    margin: 30px;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
}
.header span {
    font-weight: 300;
}
.header-settings a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.header-settings-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    margin-right: 10px;
}
.widget {
    margin: 0 0 20px 0;
    font-family: "Inter",sans-serif;
}
.widget h3 {
    font-weight: 300;
    margin: 20px 0 5px 20px;
}
.widget span {
    font-weight: 300;
    color: #848484;
    margin: 0 0 0 20px;
}


/* Sidebar */
.header img {
    width: 100px;
    padding: 20px;
}
.import-section {
    padding: 10px;
}
.import-section a {
    color: #fff;
    font-weight: 300;
}
.upload_form {
    grid-column: 5 / span 5;
    grid-row: row-start / span 8;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.upload_form h1 {
    margin-bottom: 50px;
}
.upload_form button {
    background-color: #707FDD;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
