{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infocamp</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body class="main-body">
    <header class="header">
        <img src="{% static 'images/misdoom_logo.png' %}" alt="Misdoom Logo", style="filter: brightness(0) invert(1);">
        <h1>INFOCAMP Dashboard</h1>
        <div class="header-documentation">
            <img src="{% static 'images/file-solid.png' %}" alt="File Solid", style="width: 15px; margin-right: 10px;">
            <span>Documentation</span>
        </div>
        <div class="header-upload">
            <img src="{% static 'images/upload-solid.png' %}" alt="Upload Solid", style="width: 15px; margin-right: 10px;">
            <span>Upload Data</span>
        </div>
        <div class="header-settings">
            <img src="{% static 'images/user-solid.png' %}" alt="User Solid", style="width: 15px; margin-right: 10px;">
            <a href="logout/">Logout</a>
        </div>
    </header>
    <h1>Documentation pending!</h1>

</body>