<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOCAMP Dashboard - Documentation</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
  
    {% include 'Frontend/header.html' %}
    
    <div class="main-body">
        <div class="widget" style="grid-column: span 12;grid-row: span 5;">
            <h2>Documentation pending!</h2>
            <h3>Instructions for Uploading Datasets</h3>
            <p>Follow these steps to upload your own datasets:</p>
            <ol>
                <li><strong>Access page:</strong> Visit the upload page through the dashboard by clicking on "Upload Data" in the header.</li>
                <li><strong>Select file:</strong> Make sure your file is in CSV or JSON format. Click on the field next to "CSV or JSON File" and select the file from your computer.</li>
                <li><strong>Enter keys:</strong> Fill in the following fields:
                    <ul>
                        <li><strong>Timestamp Key:</strong> Enter the key for the timestamp.</li>
                        <li><strong>Username Key:</strong> Enter the key for the username.</li>
                        <li><strong>User ID Key:</strong> Enter the key for the user ID.</li>
                        <li><strong>Post ID Key:</strong> Enter the key for the post ID.</li>
                        <li><strong>Text Key:</strong> Enter the key for the text content.</li>
                    </ul>
                </li>
                <li><strong>Upload file:</strong> Verify all the entered information for accuracy. Click the "Upload" button to start the upload process.</li>
                <li><strong>Confirmation:</strong> Wait for a confirmation message. After a successful upload, an appropriate message will be displayed.</li>
                <li><strong>Troubleshooting:</strong> If an error message is displayed, check the file and the entered keys for correctness and repeat the process.</li>
            </ol>
        </div>
</div>

</body>
</html>
