<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOCAMP Dashboard - Upload</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    {% include 'Frontend/header.html' %}
    
    <div class="main-body">
        <div class="widget upload_form" style="grid-column: span 12;min-width: 600px;">
            <h2>Upload CSV or JSON File</h2>
            <form method="post" enctype="multipart/form-data" style="margin-top: 40px;">
                {% csrf_token %}
                <div>
                    <span style="margin: 0 0 10px 0;">Upload your CSV or JSON file:</span>
                </div>
                <div>
                    <input type="file" name="csv_file" accept=".csv, .json" required>
                </div>
                <div style="margin-top: 20px">
                    <span style="margin: 0 0 10px 0;">Enter your column names:</span>
                </div>
                <div class="input-row">
                    <label for="timestamp_key">Timestamp Key:</label>
                    <input type="text" name="timestamp_key" required>
                </div>
                <div class="input-row">
                    <label for="username_key">Username Key:</label>
                    <input type="text" name="username_key" required>
                </div>
                <div class="input-row">
                    <label for="user_id_key">User ID Key:</label>
                    <input type="text" name="user_id_key" required>
                </div>
                <div class="input-row">
                    <label for="post_id_key">Post ID Key:</label>
                    <input type="text" name="post_id_key" required>
                </div>
                <div class="input-row">
                    <label for="text_key">Text Key:</label>
                    <input type="text" name="text_key" required>
                </div>
                <button type="submit" style="margin-top: 20px">Upload</button>
            </form>
            {% if message %}
                <div class="status_message">{{ message }}</div>
            {% endif %}
        </div>
    </div>
</body>
</html>
