/* HTML Elements CSS*/
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #222;
}
.main-body {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    grid-gap: 20px;
    height: 100vh; /* This will make sure the grid takes up the whole height of the viewport */
}
.header {
    grid-column: col-start 2 / span 10;
    grid-row: row-start;
}
.header-settings {
    grid-column: col-start 12 / span 1;
    grid-row: row-start;
    margin-top: 40px;
    text-align: center;
}
.widget-tl {
    grid-column: col-start 2 / span 6;
    grid-row: 2 / 8;
}
.widget-tr {
    grid-column: col-start 8 / span 5;
    grid-row: 2 / 8;
}
.widget-bl {
    grid-column: col-start 2 / span 6;
    grid-row: 8 / 13;
}
.widget-br {
    grid-column: col-start 8 / span 5;
    grid-row: 8 / 13;
}

.sidebar {
    grid-column: col-start / span 1;
    background-color: #F1F2F7;
    grid-row: row-start / 14;
    margin-left: -20px;
}



/* Remaining CSS */


.header h1{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
}
.header span {
    font-weight: 300;
}
.header-settings span {
    font-weight: 300;
}
.header-settings-icon {
    width: 30px;
    height: 30px;
    background-color: #8593ED;
    border-radius: 30px;
    margin: 0 0 -25px -5px
}
.widget {
    margin: 0 0 20px 0;
    font-family: "Inter",sans-serif;
    width: 46%;
}
.widget h3 {
    font-weight: 300;
    margin-top: 10px;
}


/* Sidebar */
.sidebar img {
    width: 100px;
    padding: 20px 20px 10px 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px 20px;
    margin-top: 10px;
}
.sidebar ul li a {
    color: #273240;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}